body *{
  font-family: 'Catamaran', sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
}

main {
  margin: auto;
  justify-content: center;
  max-width: 700px;
}

main section {
  flex: 1;
  /* padding: 40px 20px; */
  /* padding: 20px 20px; */
  padding: 20px 0;
}

/* main section:nth-child(3n+1) {
  background-color: #7738C7;
}

main section:nth-child(3n+2) {
  background-color: #C73841;
}

main section:nth-child(3n+3) {
  background-color: #89C738;
} */

h3 {
  color: black;
  font-size: 30px;
  text-align: center;
  align-self: baseline;
  margin: auto;
  width: 60%;
  padding-bottom: 3px;
  /* border-bottom: magenta 1px solid; */
  border-bottom: magenta 1px solid;
}

p{
  padding: 10px;
}

/* h3:after {
  background-color: #f890e7;
  content: "";
  display: block;
  height: 2px;
  margin: 10px;
} */

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.spc-btw{
  justify-content: space-around;
}

.site-header {
  padding: 30px 20px 10px;
  justify-content: center;
}

.site-header ul{
  text-decoration: underline;
}

.site-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bolder;
  color: black;
}

.pages-nav {
  display: flex;
  justify-content: center;
}

.pages-nav li {
  padding: 10px;
}

.pages-nav a{
  color: black;
  text-decoration-color: magenta;
}

a:hover{
  cursor: pointer;
}

.banner {
  padding: 80px 0;
  background-color: #38c7be;
  border-radius: 5px;
}

.banner h2{
  text-align: center;
  font-size: 40px;
  font-family: 'Bungee Outline', cursive;
  /* font-family: 'Bungee Inline', cursive; */
  line-height: 50px;
  color: white;
  font-weight: 600;
}

.triangle{
  width: 0;
  height: 0;
  border: solid 10px;
  border-color: transparent transparent black black;
  position: absolute;
  margin-top: 8px;
}

.triangle:before{
  content: "";
  width: 0;
  height: 0;
  border: solid 8px;
  border-color: transparent transparent white white;
  position: absolute;
  margin-top: -8px;
  margin-left: -9px;
}

.about article{
  /* padding: 20px; */
  padding: 20px 5%;
}

.project {
  border: 1px solid white;
  margin-top: 10px;
  border-radius: 5px;
  max-width: 300px;
}

.project img {
  border: black 5px solid;
  border-radius: 5px;
  margin: 20px 0 10px 0;
  width: 100%;
}

.project ul{
  border: 1px solid white;
  padding: 10px;
}

.project li {
  margin-bottom: 10px;
}

.contact{
  text-align: center;
}

.contact ul{
  padding-top: 20px;
}

.site-footer {
  text-align: center;
  padding: 80px 0;
  color: white;
  background-color: #38c7be;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  .site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  main section{
    /* padding: 40px; */
  }

  .about article{
    /* padding: 20px; */
    padding: 20px 10%;
  }
}